.App {
  min-height: 100vh;
  padding: 0;
  margin: 0;

  main {
    max-width: 1080px;
    margin: 0 auto;
    padding: var(--ui-space-4xl) var(--ui-space-2xl);
  }

  /* Quick note, I'm getting a little bit sloppy here, but I'm almost at time */
  form {
    fieldset {
      border: none;
      padding: var(--ui-space-md) 0;
      margin: 0;
    }

    .radio-group {
      label {
        margin: var(--ui-space-md) 0;
      }
    }
  }
}

a {
  color: var(--ui-color-primary-500);
  text-decoration: none;
  font-weight: var(--ui-font-weight-bold);
  transition: all 0.2s ease;
}

a:hover {
  text-decoration: underline;
}
a:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--ui-color-primary-100);
}
h1 {
  font-size: 32px;
  letter-spacing: -2%;
  font-weight: var(--ui-font-weight-bold);
  line-height: 140%;
}
h2 {
  font-size: var(--ui-font-size-lg);
  letter-spacing: -2%;
  font-weight: var(--ui-font-weight-bold);
  line-height: var(--ui-line-height-tight);
}

ul {
  list-style: none;
  padding: 0;
  li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.5;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: 16px;
      height: 16px;
      background-color: var(--ui-color-primary-500);
      border-radius: 50%;
    }
  }
}
