@import 'ui/tokens/colors.css';
@import 'ui/tokens/spacing.css';
@import 'ui/tokens/typography.css';

:root {
  font-family: 'Hanken Grotesk', sans-serif;
  line-height: 1.6;
  font-weight: 500;
  color: #22222f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--ui-color-gray-50);
}
