:root {
  /* Background */
  --ui-color-background-base: #fcfcfd;

  /* Primary Colors */
  --ui-color-primary-50: #e8f1f8;
  --ui-color-primary-100: #d0e3f1;
  --ui-color-primary-200: #b9d5eb;
  --ui-color-primary-300: #73acd6;
  --ui-color-primary-400: #4590c9;
  --ui-color-primary-500: #1674bb;
  --ui-color-primary-600: #125d96;
  --ui-color-primary-700: #0d4670;
  --ui-color-primary-800: #092e4b;
  --ui-color-primary-900: #041725;

  --ui-color-gray-50: #fafafd;
  --ui-color-gray-100: #f5f5fa;
  --ui-color-gray-150: #eeeef4;
  --ui-color-gray-200: #e2e2ea;
  --ui-color-gray-250: #d8d8e1;
  --ui-color-gray-300: #c4c4cf;
  --ui-color-gray-400: #aaaaba;
  --ui-color-gray-500: #9191a2;
  --ui-color-gray-600: #757587;
  --ui-color-gray-700: #5f5f6f;
  --ui-color-gray-750: #4f4f5a;
  --ui-color-gray-800: #33333f;
  --ui-color-gray-900: #22222f;

  /* Black & White */
  --ui-color-black: #000000;
  --ui-color-white: #ffffff;
}
