.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
  font-family: var(--ui-font-family-primary);
  font-weight: var(--ui-font-weight-semibold);
  font-size: var(--ui-font-size-md);
  line-height: var(--ui-line-height-spacious);
  text-decoration: none;
  padding: var(--ui-space-md);
  min-width: 78px;
  max-width: 300px;
  border-radius: var(--ui-radius-full);
  transition: all 0.2s ease;
}

.button:hover {
  transform: translateY(-1px);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--ui-color-primary-100);
}

.button:disabled {
  cursor: not-allowed;
  transform: none;
}

.primary {
  background-color: var(--ui-color-primary-600);
  color: white;
}

.primary:hover:not(:disabled) {
  background-color: var(--ui-color-primary-700);
}

.primary:active:not(:disabled) {
  background-color: var(--ui-color-primary-700);
}

.primary:disabled {
  background-color: var(--ui-color-gray-150);
  color: var(--ui-color-gray-400);
}

.secondary {
  background-color: transparent;
  color: var(--ui-color-gray-900);
  border: 1px solid var(--ui-color-gray-300);
}

.secondary:hover:not(:disabled) {
  background-color: var(--ui-color-gray-100);
}

.secondary:active:not(:disabled) {
  background-color: var(--ui-color-gray-150);
}
